@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome back!</h1>
    <p></p>
    <a asp-action="ShowCategories" asp-controller="Home">Categories</a>
    <p></p>
    <a asp-action="Index" asp-controller="Product">Products</a>
</div>
