@using DataAccess.Models

@model CategoryType

@{
    ViewData["Title"] = "Add product";
}

<h1 align="">Add new product</h1>
<div align="center">
    <table border="1">
        <tr>
            <form method="post" asp-action="AddProduct" asp-controller="Product">
        <tr>
            <td>Product name:</td>
            <td><input type="text" id="productName" name="ProductName" /></td>
        </tr>
        <tr>
            <td>Supplier name:</td>
            <td><input type="text" id="supplierId" name="SupplierID" /></td>
        </tr>
        <tr>
            <td>Category type:</td>
            <td><select id="categoryId" name="CategoryID" asp-items="Html.GetEnumSelectList<CategoryType>()"></select></td>
        </tr>
        <tr>
            <td>Quantity per unit:</td>
            <td><input type="text" id="quantityPerUnit" name="QuantityPerUnit" /></td>
        </tr>
        <tr>
            <td>Unit price:</td>
            <td><input type="text" id="unitPrice" name="UnitPrice" /></td>
        </tr>
        <tr>
            <td>Units in stock:</td>
            <td><input type="text" id="unitsInStock" name="UnitsInStock" /></td>
        </tr>
        <tr>
            <td>Units on order:</td>
            <td><input type="text" id="unitsOnOrder" name="UnitsOnOrder" /></td>
        </tr>
        <tr>
            <td>Reorder level:</td>
            <td><input type="text" id="reorderLevel" name="ReorderLevel" /></td>
        </tr>
        <tr>
            <td>Discontinued:</td>
            <td><input type="text" id="discontinued" name="Discontinued" /></td>
        </tr>
        <td><button type="submit">Submit</button></td>
        </form>
    </table>
</div>

